* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 60px;
}

h2 {
font-size: medium;
font-weight: 300;
}


h3 {
    font-size: 50px;
}

/* HERO  */
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: space-between;
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

header  nav ul a {
    text-decoration: none;
    color: rgb(2, 34, 33, 100);
    font-weight: 400;
}



header nav ul li.nav-item-cta a {
padding: 8px 18px;
border: 1px solid rgb(2, 34, 33, 100);
border-radius: 38px;
}

header nav ul a:hover {
    color: rgba(235, 255, 254,100);
    transition: color 0.2 ease;

}

header nav ul li.nav-item-cta a:hover {
background: rgba(235, 255, 254,100);
border-color: rgba(235, 255, 254,100);
color: rgb(2, 34, 33, 100);
transition: color 0.2 ease;
}

.container-hero {
height: 100vh;
width: 100%;
position: relative;
color: rgba(2, 34, 33, 100);
padding-top: 48px;
background-color: rgba(0, 0, 0, 0.075);
}


.container-hero img{
    height: 100vh;
    width: 100%;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
}

.hero-content {
    width: 100%;
    max-width: 80%;
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 38vh;
}

.hero-content > p {
    font-size: 24px;
    font-weight: 500%;
}


button {
  font-family: inherit;
}


.hero-content > button {
    padding: 12px 18px;
    margin: 30px 16px;
    background: rgba(2, 34, 33, 100);
    color: rgba(235, 255, 254, 100);
    border-radius: 38px;
    font-weight: 500;
    border: none;
    width: fit-content;
    transition: filter 0,2s ease;
    cursor: pointer;
    
}

.hero-content button:hover {
    background: rgba(235, 255, 254, 100);
    color: rgba(2, 34, 33, 100);
}

/* MINHAS VIAGENS */

#trip-me{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 0;
}


#trip-me .trip-me-content{
 display: flex;
 gap: 32px;
font-size: 20px;
}

#trip-me .trip-me-content img {
    object-fit: cover;
    border-radius: 20px;

}

#trip-me .trip-me-content ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin-top: 24px;
}

.trip-text {
    max-width: 500px;
}

#trip-me .trip-me-content ul li {
font-size: 16px;
padding: 8px 16px;
border-radius: 10px;
background: rgba(235, 255, 254, 100);
color: rgba(2, 34, 33, 100);
border: 1px solid;
}

/* NOS ENCOTRE */
#meet-us {
    padding: 64px 0;
    background: rgb(2, 34, 33, 100);
    color: rgba(235, 255, 254, 100);
}

#meet-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#meet-us .container > p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

#meet-us .container ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

#meet-us .container ul li {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* advice */

#advice {
    text-align: center;
    padding: 80px 20px;
}

.advice > p {
    font-size: 16px;

}

.advice-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 40px;
}

.card {
max-width: 300px;
object-fit: cover;
text-align: center;
}

.card img{
    width: 100%;
    height: 300px;
    border-radius: 8px;
    display: block;
}

.card span {
    display: block;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.card p {
    font-size: 16px;
    margin-top: 10px;
    display: block;
}
